body {background-color: silver;
}
#box {
    background: white;
    width: 1200px;
    height: auto;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    border-left: solid 10px coral;
    border-right: solid 10px coral;
    border-top: solid 10px coral;
    border-bottom: solid 10px coral;

}

   

 #navi{text-align: center;
         background-color: coral; 
         font-family: arial; 
         font-size: 14pt; }

 .grid-view {
    background-color:white;
    width: auto;
    margin: 5px 0 10px 0;
    border: solid 2px silver;
    border-collapse: collapse;
    text-align: center;
    color: black;
}


.grid-view .row { background-color: white;
    }

.grid-view .alternate { background-color: coral;
    }

    .grid-view td {
        padding: 10px;
        border: solid 2px silver;
        color: black;
    }

    .grid-view th {
        padding: 10px;
        color: white;
        border-left: solid 2px silver;
 }

    #GridView1 { margin-right:auto;
    margin-left:auto;
}

#DetailsView1 {
    margin-left: auto;
    margin-right: auto;
}